
.textblock {
  background: $theme-color-default;

  .textblock-text {
    color: white;
    //font-size: 24px;
    font-weight: 300;
  }
  .textblock-button {
    //  font-size: 12px;
    //  font-weight: 700;
    //  text-transform: uppercase;
    //  color: white;
    //  background: $theme-color-default;
    //  text-align: left;
    //  text-indent: 2em;
    //  width: 170px;
    //  height: 40px;
    //  border: 3px solid white;
    //  background: url("../img/arrow_button.png") no-repeat 90% 50%;
    //  transition: 0.3s color, background;
    //  &:hover {
    //    background: white;
    //    color: $theme-color-default;
    //
    //  }
  }
}
